html,
body {
    height: 100%;
    overflow: hidden;
}

#app {
    font-family: "Noto Sans KR", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: white;
    height: 100%;
}

#container {
    padding: 5px 3px;
    height: 100%;
}

/* PC 버전에서 보여질 스타일 */
.pc-container {
    float: left;
    width: 50%;
}

.empty {
    float: left;
    width: 25%;
    height: 100%;
}

#header {
    padding: 10px 20px 10px 20px;
    border-radius: 12px;
}

#content {
    margin-top: 10px;
    padding-top: 5px;
    height: 90%;
    overflow: auto;
}

#content::-webkit-scrollbar {
    background-color: transparent;
}

#content::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 5px black;
    background-color: #bdbdbd;
    border-radius: 10px;
}

#content::-webkit-scrollbar-track {
    background-color: rgba(49, 49, 49, 0.4);
    border-radius: 10px;
}

#content > #title {
    padding: 10px 100px;
    display: inline-block;
    border: 3px solid transparent;
    border-radius: 15px;
    border-image: radial-gradient(rgb(76, 76, 76), rgb(166, 166, 166)) 1;
    font-size: xx-large;
    color: white;
}

.dark-gradient-background {
    background-color: #4a5053;
    background-image: linear-gradient(180deg, #4a5053 0%, #434343 74%);
}

.fill-white {
    fill: #fff;
}
